@import "tailwindcss";

:root {
  --radius: 0.625rem;
  --background: #222831;
  --foreground: #EEEEEE;
  --card: #393E46;
  --card-foreground: #EEEEEE;
  --popover: #393E46;
  --popover-foreground: #EEEEEE;
  --primary: #00ADB5;
  --primary-foreground: #EEEEEE;
  --secondary: #393E46;
  --secondary-foreground: #EEEEEE;
  --muted: #393E46;
  --muted-foreground: #EEEEEE;
  --accent: #00ADB5;
  --accent-foreground: #EEEEEE;
  --destructive: #ef4444;
  --border: #393E46;
  --input: #393E46;
  --ring: #00ADB5;
  --chart-1: #00ADB5;
  --chart-2: #393E46;
  --chart-3: #EEEEEE;
  --chart-4: #222831;
  --chart-5: #00ADB5;
  --sidebar: #222831;
  --sidebar-foreground: #EEEEEE;
  --sidebar-primary: #00ADB5;
  --sidebar-primary-foreground: #EEEEEE;
  --sidebar-accent: #393E46;
  --sidebar-accent-foreground: #EEEEEE;
  --sidebar-border: #393E46;
  --sidebar-ring: #00ADB5;
}

.dark {
  --background: #222831;
  --foreground: #EEEEEE;
  --card: #393E46;
  --card-foreground: #EEEEEE;
  --popover: #393E46;
  --popover-foreground: #EEEEEE;
  --primary: #00ADB5;
  --primary-foreground: #EEEEEE;
  --secondary: #393E46;
  --secondary-foreground: #EEEEEE;
  --muted: #393E46;
  --muted-foreground: #EEEEEE;
  --accent: #00ADB5;
  --accent-foreground: #EEEEEE;
  --destructive: #ef4444;
  --border: #393E46;
  --input: #393E46;
  --ring: #00ADB5;
  --chart-1: #00ADB5;
  --chart-2: #393E46;
  --chart-3: #EEEEEE;
  --chart-4: #222831;
  --chart-5: #00ADB5;
  --sidebar: #222831;
  --sidebar-foreground: #EEEEEE;
  --sidebar-primary: #00ADB5;
  --sidebar-primary-foreground: #EEEEEE;
  --sidebar-accent: #393E46;
  --sidebar-accent-foreground: #EEEEEE;
  --sidebar-border: #393E46;
  --sidebar-ring: #00ADB5;
}

@layer base {
  * {
    border-color: hsl(var(--border));
    outline-color: hsl(var(--ring) / 0.5);
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}